@import url('https://fonts.googleapis.com/css2?family=Forum&family=Laila:wght@300;400;500;600;700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=WindSong:wght@400;500&display=swap');
@import "tailwindcss";

:root {
    --green : #295544;
    --green1 : #295544;
    --green2 : #058846;
    --yellow : #f4b331;
    --orange : #f47526;
    --beige : #f1f1e6;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}